* {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: rgb(14, 13, 13);
    margin: 0px;
    padding: 0px;
    opacity: 0.8;

}

#navbar ul {
    display: flex;
    text-decoration: none;
}

#navbar ul li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#navbar ul li a {
    margin: 23px;
    font-size: 1.5rem;
    padding: 2px 23px;
    color: white;
    text-decoration: none;
    border-radius: 23px;
}

#navbar ul li a:hover {
    background-color: rgb(172, 165, 165);
    color: black;
}

#logo img {
    width: 80px;
    height: 55px;
    margin: -5px;
    margin-right: 72px;
}

#login {
    margin-left: 340px;
}

#login a {
    margin: 23px;
    font-size: 1.3rem;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 23px;
    padding: 2px 23px;
}

#login a:hover {
    background-color: rgb(213, 238, 244);
    color: black;
}

/* -------------Home section------------------------------------- */
#home {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: url(../Content/home2.jpg) no-repeat center center/cover;
    height: 550px;
    justify-content: flex-start;
    color: aliceblue;
    padding: 3px 200px;
}

#home h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3rem;
}

#home p {
    font-size: 1.2rem;
}

#home .homebtn {
    font-size: 1.5rem;
    background-color: rgb(244, 110, 61);
    margin: auto;
    padding: 8px;
    border-radius: 20px;
}

#home .homebtn:hover {
    background-color: coral;
    color: black;
    cursor: pointer;
}

/* ------------------Menu Section----------------------- */

#menu-section h1 {
    margin: 23px;
    font-size: 3rem;
    text-align: center;
    justify-content: center;

}

#menu {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 500px;
}

#burger {

    background: url(../Content/burger.jpg) no-repeat center center/cover;
}

#noodles {

    background: url(../Content/noodles.jpg)no-repeat center center/cover;
}

#samosa {

    background: url(../Content/samosa-6903038_1920.jpg) no-repeat center center/cover;
}

#frenchfries {

    background: url(../Content/french-fries.jpg) no-repeat center center/cover;
}

#pizza {

    background: url(../Content/pizza.jpg) no-repeat center center/cover;
}

#hotdog {

    background: url(../Content/hotdog.jpg) no-repeat center center/cover;
}

#menu h3 {
    font-size: 3rem;
    color: rgb(228, 230, 240);
}

#menu p {
    font-size: 1.3rem;
    color: rgb(244, 245, 250);
}

/* ------------------Menu Section----------------------- */
#menu-bar {
    display: flex;
    /* text-align: center; */
    /* justify-content: center; */
    background: url("../Content/menu-3206749_1920.jpg") no-repeat center center/cover;
    height: 1000px;
    width: 100%;
    color: aliceblue;
}

#article {

    margin: 200px;
    width: 500px;
    height: 400px;
    padding: 50px;
}

#article h1 {
    font-size: 2.5rem;
    margin-bottom: 23px;
}

#article p {
    font-size: 1.3rem;
    margin-bottom: 23px;
}

#menu-bar ul {
    margin-top: 300px;

}

#menu-bar ul li {
    margin: 20px;
    font-size: 2rem;
    color: rgba(246, 157, 93, 0.874);
}

#menu-bar-btn {
    background-color: chocolate;
    color: black;
    font-size: 1.5rem;
    padding: 5px 50px;
    border-radius: 20px;
    cursor: pointer;

}

#menu-bar-btn:hover {
    background-color: rgba(172, 55, 12, 0.878);
    color: rgb(174, 245, 250);
}

/* --------------------service section------------------------- */
#service-section {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(237, 232, 226);
}

#service-section h1 {
    font-size: 3.5rem;
    margin: 30px;

}

.service-box {
    display: flex;
    height: 500px;

}

#box1 {
    border: 2px solid gray;
    margin: 45px;
    width: 450px;
    height: 400px;
    background: url("../Content/deliveryboy.png") no-repeat center center/cover;
}

#box2 {
    border: 2px solid gray;
    margin: 45px;
    width: 450px;
    height: 400px;
    background: url("../Content/event.jpg") no-repeat center center/cover;
}

#box3 {
    border: 2px solid gray;
    width: 450px;
    height: 400px;
    margin: 45px;
    background: url("../Content/massorder.jpg") no-repeat center center/cover;
}

.service-box h2 {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

/* ---------contact section----------------- */
#contact {
    background: url("/Content/contact.jpg") no-repeat center center/cover;
    height: 300px;
}

#contact-box1 {
    display: flex;

}

#contact-box1 h3 {
    font-size: 2rem;
    margin-right: 1000px;
    margin-left: 50px;
}

#contact-box1 .contact-btn {
    font-size: 1.3rem;
    margin: 10px;
    background-color: black;
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 15px;
    cursor: pointer;

}

#contact-box1 .contact-btn:hover {
    background-color: rgb(71, 2, 2);
    color: rgb(24, 1, 1);

}

/* ---------footer----------------- */
.center {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    font-size: 1.3rem;
}