<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <h1>Welcome to homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa iusto repellat possimus, deleniti in rerum unde nihil tenetur nobis. Repellat, incidunt minima illum magnam temporibus accusantium! Molestiae eveniet nihil consequatur facere magni voluptas, recusandae earum aliquid laudantium repellendus labore eum soluta? Unde atque distinctio consectetur laboriosam iste! Quis dolore ut suscipit, eum explicabo laudantium optio repellat nobis maxime perspiciatis ex. Facilis, neque eaque. Neque labore ut expedita tempore quis voluptate aliquid saepe placeat inventore molestias! Soluta, cumque ea, minus fuga eaque quod quaerat exercitationem, quasi minima voluptatum commodi vitae repudiandae inventore. Recusandae repellendus corporis beatae corrupti dicta deleniti aut commodi!</p>
    
</body>
</html>